#canvas {
  margin-bottom: 5%;
  border: solid 4px grey;
  border-radius: 5px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}
