body {
  font-family: 'Skranji', cursive;
}

#canvas {
  margin-bottom: 25px;
  border: solid 5px #141619;
  border-radius: 5px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 0;
}

h2 {
  /* width: 300px;
  height: 300px;
  border: solid; */
}

#startContainer {
  background-color: #42f45c;
  border: solid #24ad38 5px;
  border-radius: 10px;
  width: 70%;
  margin: auto;
  padding: 15px;
  text-align: center;
  position: relative;
  top: -475px;
}

.keyImages {
  border: solid;
  border-radius: 5px;
  padding: 2px;
  background-color: #c8cbd1;
}

#restartContainer {
  background-color: #42f45c;
  border: solid #24ad38 5px;
  border-radius: 10px;
  width: 70%;
  margin: auto;
  padding: 10px;
  text-align: center;
  position: relative;
  top: -450px;
  display: none;
}

#gameOverText {
  color: #ea3c3c;
  margin: 0;
}

#restartScore {
  margin-bottom: 10px;
  padding: 0;
}

button {
  font-family: 'Skranji', cursive;
  font-size: 15px;
  border: solid 2px #24ad38;
  border-radius: 10px;
  padding: 5px;
}

span {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.container {
  padding: 0;
  width: 500px;
  margin: auto;
}
